.demo {
width: 30%;
border:1px solid #b86cc7;
border-collapse:collapse;
padding:5px;
}
.demo th {
border:1px solid #b86cc7;
padding:5px;
background:#F0F0F0;
}
.demo td {
border:1px solid #b86cc7;
text-align:left;
padding:5px;
}

.total-price-font
{
    font-style: oblique;
    font-size: 20px;
    color:#9966ff;
    display: inline-block;
    font-weight: 300;
}

.button {
    font: bold 14px oblique;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #9966ff;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
  }

.div-s-by-s
{
    float: left; 
    width: 40%;
}

.div-s-by-s
{
    float: left;
    width: 50%;
}

.my-pricelist-font{
    font-style: oblique;
    font-size: 25px;
    color:#9966ff;
    font-weight: 700;
}

.my-thead-font{
    font-style: oblique;
    font-size: 18px;
    color:#9966ff; 
    font-weight: 700;
}

tr:nth-child(even)
{
    font-style: oblique;
    font-size: 18px;
    color: white;
    font-weight: 400;
    background: #668cff;
}
th{
    background: #668cff !important;    
}
tr:nth-child(odd)
{
    font-style: oblique;
    font-size: 18px;
    font-weight: 400;
    color:white; 
    background: #9966ff;
}

#type-of-user
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

tbody :hover
{
    background: #673dff;    
}

.float
{
    float: left;
}

input[type=submit] {
    width: 27.6%;
    background-color: #668cff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold
  }

  input[type=submit]:hover {
    background-color: #99b3ff;
  }