<p class="my-pricelist-font">Pricelist<p>

<table class="demo">
  <thead class="my-thead-font">
	<tr>
		<th>Type of ticket</th>
		<th>Price</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let u of tableData; let i=index" (click) = "RowSelect(u)">
		<td>{{u.type}}</td>
		<td>{{u.price}}</td>
	</tr>
	</tbody>
</table>

<br/>

<div>
<p class="my-font float">Discount for<p> &nbsp;
<select id="type-of-user" (change)="selectChangeHandler($event)">
    <option value="Basic"><br/></option>
  <option value="Pensioner">Pensioner</option>
  <option value="Student">Student</option>
</select>
</div>

<div>
<div class="my-font float">Total:</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="total-price-font">{{totalPrice}}</div>
</div>
<br/><br/>
<div>
<input type="submit" value="Buy" (click)="onSubmit()">
</div>
<div *ngIf="canBuy" class="my-thead-font">
		To purchase a ticket, first login or register.
</div>
<div *ngIf="isSelectedTicket" class="my-thead-font">
		First select a ticket.
</div>