<div class="div-s-by-s">
<p class="my-pricelist-font">Pricelist<p>

<table class="demo">
  <thead class="my-thead-font">
	<tr>
		<th>Type of ticket</th>
		<th>Price</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let u of tableData; let i=index" (click) = "RowSelect(u)">
		<td>{{u.type}}</td>
		<td>{{u.price}}</td>
	</tr>
	</tbody>
</table>

<div>
<p class="my-font float">Discount for<p> &nbsp;
<select id="type-of-user" (change)="selectChangeHandler($event)">
    <option value="Regular">Regular</option>
  <option value="Pensioner">Pensioner</option>
  <option value="Student">Student</option>
</select>
</div>

<div>
<div class="my-font float">Total:</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="total-price-font">{{totalPrice}}</div>
</div>
<br/><br/>
<div>
<input type="submit" value="Buy" (click)="onSubmit()">
</div>
<div class="my-thead-font">
		{{textMessage}}
</div>

</div>
<br/>
<div class="div-s-by-s2" *ngIf="isLogin()">
	<p class="my-pricelist-font">Purchased Tickets<p></p>
	<table class="demo">
			<thead class="my-thead-font">
			<tr>
				<th>Type of ticket</th>
				<th>Price</th>
				<th>Date of validity</th>
				<th >&nbsp;</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngFor="let u of purchasedTickets">
				<td>{{u.Type}}</td>
				<td>{{u.Price}}</td>
				<td>{{u.Date}}</td>
				<td><a id="a" class="button" (click)="deleteTicket(u)">Delete</a></td>
			</tr>
			</tbody>
		</table>
		
</div>