.in-centar
{
    text-align: center;
    justify-content: center;
}

.my-register-font{
    font-style: oblique;
    font-size: 25px;
    color:#9966ff;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }