<div>
  <p class="my-register-font">
      Timetable
  </p>
</div>

<p class="my-font-title">Select day</p>

<div class="in-centar">
  <div>
    <select id="type-of-user">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
  </div>

  <div>
    <p class="my-font-title">Select route</p>
    <select id="type-of-user">
      <option value="7">7</option>
      <option value="11a">11a</option>
    </select>
  </div>


</div>