/* You can add global styles to this file, and also import other style files */
.backgroundColor{
    background-color: #cad4f5 !important
}

.my-font-title{
    font-style: oblique;
    font-size: 17px;
    color:#9966ff;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.my-font{
    font-style: oblique;
    font-size: 18px;
    color:#9966ff;
    font-weight: 700;
}

.my-register-font{
    font-style: oblique;
    font-size: 25px;
    color:#9966ff;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}