/* You can add global styles to this file, and also import other style files */
.backgroundColor{
    background-color: #cad4f5 !important
}

.submit-button
{
    width: 40%;
    background-color: #668cff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold    
}
.my-font-title{
    font-style: oblique;
    font-size: 17px;
    color:#9966ff;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.my-font{
    font-style: oblique;
    font-size: 18px;
    color:#9966ff;
    font-weight: 700;
}

.my-register-font{
    font-style: oblique;
    font-size: 25px;
    color:#9966ff;
    font-weight: 700;
    text-align: center;
    justify-content: center;
}

.button {
    font: bold 14px oblique;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #9966ff;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    cursor: pointer;
  }