<div >
  <div>
    <br/>
    <p class="my-register-font">Stations</p>
    <table style="max-height: 400px; overflow: auto; display: inline-block;">
      <thead>
        <tr>
          <th>X coordinate</th>
          <th>Y coordinate</th>
          <th>Name</th>
          <th>Address</th>
          <th>Route</th>
          <th width="10%">Change</th>
          <th width="10%">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of stations">
          <td style="text-align:center;">{{l.X}}</td>
          <td style="text-align:center;">{{l.Y}}</td>
          <td style="text-align:center;">{{l.Name}}</td>
          <td style="text-align:center;">{{l.Address}}</td>
          <td style="text-align:center;">{{l.RouteNumber}}</td>
          <td style="text-align:center;">
              <a class="button" (click)="changeStation(l)">Change</a>
          </td>
          <td style="text-align:center;">
              <a class="button" (click)="deleteRouteAdmin(l)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div>
    <div *ngIf="newStation">
        <button (click)="addNewStation()" class="submit-button">
          Add new station
        </button>
    </div>
    <div *ngIf="newStations">
      <button (click)="addNewStations()" class="submit-button">
        Add lines to route
      </button>
  </div>
    <br/>
    <br/>

    <!--changeStation-->
    <div *ngIf="changeStationbool">
      <form [formGroup]="changeStationForm" (ngSubmit)="onSubmitSaveChanges()">
        <div>
          <div><span class="my-font">Name of Station</span></div>
          <input type="text" formControlName="Name" placeholder="Enter name.." required>
          <div *ngIf="f.Name.invalid && (f.Name.dirty || f.Name.touched)">
            <div *ngIf="f.Name.errors.required" class="my-font">
              Name is required.
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="submit-button">
            Save changes
          </button>
      </div>
      </form>
    </div>

    <!--deleteRouteAdmin-->
    <div *ngIf="deleteStationAdminbool">
      <form [formGroup]="deleteStationForm" (ngSubmit)="onSubmitSaveDelete()">
        <div><span class="my-font">Delete station from route</span></div>
        <select style="width: 255px;" formControlName="RouteNumber" 
                [(ngModel)]="selectedRouteDel">
          <option *ngFor="let c of listRoutes" [ngValue]="c">{{c}}</option>
        </select>
        <div>
          <button type="submit" class="submit-button">
            Delete
          </button>
      </div>
      </form>
    </div>

    <!--addNewStation-->
    <div *ngIf="newStationbool">
      <form [formGroup]="addStationForm" (ngSubmit)="onSubmitAddStation()">
        <div>
          <div><span class="my-font">Name of Station</span></div>
          <input type="text" formControlName="Name" placeholder="Enter name.." required>
          <div *ngIf="d.Name.invalid && (d.Name.dirty || d.Name.touched)">
            <div *ngIf="d.Name.errors.required" class="my-font">
              Name is required.
            </div>
          </div>
          <div><span class="my-font">Address of Station in format City, Street, Street number </span></div>
          <input type="text" formControlName="Address" placeholder="Enter address.." required>
          <div *ngIf="d.Address.invalid && (d.Address.dirty || d.Address.touched)">
            <div *ngIf="d.Address.errors.required" class="my-font">
              Address is required.
            </div>
          </div>
          <div><span class="my-font">Station number in route</span></div>
          <input type="text" formControlName="RouteNumbers" placeholder="Enter station number.." required>
          <div *ngIf="d.RouteNumbers.invalid && (d.RouteNumbers.dirty || d.RouteNumbers.touched)">
            <div *ngIf="d.RouteNumbers.errors.required" class="my-font">
              Station number in route is required.
            </div>
          </div>
          <div><span class="my-font">Belongs to route</span></div>
        <select style="width: 255px;" formControlName="RouteNumber" (change)="mySelectHandler()"
                [(ngModel)]="selectedRouteAddStation">
          <option *ngFor="let c of listRoutesAddStation" [ngValue]="c">{{c.RouteNumber}}</option>
        </select>
        </div>

        <div>
            <p class="my-font"> {{infoMessage}}</p>
          </div>

        <app-map [route] = "sRoute" [type] = "sType" (sendData)="XYData($event)"></app-map>
        <div>
          <button type="submit" class="submit-button">
            Save changes
          </button>
      </div>
      </form>
    </div>

    <!--addNewStations-->
    <div *ngIf="newStationsbool">
        <div><span class="my-font">New Routes</span></div>
        <select style="width: 255px;" [(ngModel)]="selectedRouteNewRoute">
          <option *ngFor="let c of listRoutesNewRoute" [ngValue]="c">{{c.RouteNumber}}</option>
        </select>

        <div>
            <p class="my-font"> {{infoMessage}}</p>
          </div>
        <app-map [route] = "sRoute" [bus] = "sBus" (sendDataDot)="XYDataDot($event)"></app-map>
        <div>
          <button type="submit" class="submit-button" (click)="onSubmitSaveRouteLines()">
            Save lines
          </button>
      </div>
    </div>

  </div>
 <div>
    <p class="my-font"> {{message}}</p>
 </div>
</div>