<div>
        <p class="my-login-font">
            Log in
        </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div id="login-id">
            <label class="my-font-title">Email</label>
            <br />
            <input type="email" formControlName="email" placeholder="Enter email.." required>

            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">

                <div *ngIf="f.email.errors.required">
                    <label class="my-font-title"> Email is required.</label>
                </div>
              </div>

            <label class="my-font-title">Password</label>
            <br />
            <input type="password" formControlName="password" placeholder="Enter password.." required>
            <br />
            <input type="submit" value="Submit">
        </div>

    </form>
</div>