<div>
        <p class="my-login-font">
            Log in
        </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div id="login-id">
            <label class="my-font-title">Email</label>
            
            <input type="email" formControlName="email" placeholder="Enter email.." ng-model="email.text" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
                <div *ngIf="f.email.errors.required" class="my-p-font">
                        Email is required.
                </div>
                <div *ngIf="f.email.errors && f.email.errors.pattern" class="my-p-font">
                        Email is not of correct format.
                </div>

            </div>

            <label class="my-font-title">Password</label>
            <br />
            <input type="password" formControlName="password" placeholder="Enter password.." required>
            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
                    <div *ngIf="f.password.errors.required" class="my-font-title">
                         Password is required.
                    </div>
                </div>
            <input type="submit" [disabled]="loginForm.invalid" value="Submit">
            <div>
            <label class="my-font-title" center>{{serverSuccessMessage}}</label>
            </div>
        </div>

    </form>
</div>