<br/>
<div class="in-centar">
    <div>
      <p class="my-font float">Type of timetable</p>
      <select id="type-of-user" [(ngModel)]="selectedTypeOfTimetable" (click)="ChangeRoutes()">
        <option value="Suburban">Suburban</option>
        <option value="City" selected>City</option>
      </select>
    </div>

    <div>
      <p class="my-font">Day</p>
      <select id="type-of-user" [(ngModel)] = "selectedTypeOfDay" (click)="ChangeByDay()">
        <option value="Workday" selected>Workday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>

    <div>
      <p class="my-font">Route</p>
      <select id="type-of-user" [(ngModel)] = "selectedRoute" (click)="getTimetable()">
        <option *ngFor="let opt of routes" [value]="opt">{{opt}}</option>
      </select>
    </div>
  </div>
  
    <table class="demo">
      <thead class="my-thead-font">
      <tr>
        <th>Departures</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of departures">
        <td>{{u}}</td>
      </tr>
      </tbody>
    </table>