
#type-of-user
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.in-centar
{
    text-align: center;
    justify-content: center;
}

.demo {
    position: absolute;
    left: 30%;
    width: 40%;
    border:1px solid #b86cc7;
    border-collapse:collapse;
    padding:5px;
    }
    .demo th {
    border:1px solid #b86cc7;
    padding:5px;
    background:#F0F0F0;
    }
    .demo td {
    border:1px solid #b86cc7;
    text-align:left;
    padding:5px;
    }

    .my-thead-font{
        font-style: oblique;
        font-size: 18px;
        color:#9966ff; 
        font-weight: 700;
    }

    tr:nth-child(even)
    {
        font-style: oblique;
        font-size: 18px;
        color: white;
        font-weight: 400;
        background: #668cff;
    }
    th{
        background: #668cff !important;    
    }
    tr:nth-child(odd)
    {
        font-style: oblique;
        font-size: 18px;
        font-weight: 400;
        color:white; 
        background: #9966ff;
    }

    tbody :hover
{
    background: #673dff !important;    
}