<br/>
<div class="in-centar">
    <div>
      <p class="my-font float">Type of timetable</p>
      <select id="type-of-user">
        <option value="Suburban">Suburban</option>
        <option value="City">City</option>
      </select>
    </div>

    <div>
      <p class="my-font">Day</p>
      <select id="type-of-user">
        <option value="Workday">Workday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </div>

    <div>
      <p class="my-font">Route</p>
      <select id="type-of-user">
        <option *ngFor="let opt of nekaLista" [value]="nekaLista.id">{{nekaLista.name}}</option>
      </select>
    </div>
  </div>
  
    <table class="demo">
      <thead class="my-thead-font">
      <tr>
        <th>{{Route}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of typeOfTicket">
        <td>{{u.Ticket}}</td>
      </tr>
      </tbody>
    </table>