<div>
  <p class="my-register-font">
      Register
  </p>
</div>
  
<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
<div id="register-id">
        <label class="my-font-title">Email</label>
        <br/>
        <input type="email" formControlName="Email" placeholder="Enter email..">
        <br/>
    
        <label class="my-font-title">Password</label>
        <br/>
        <input type="password"  formControlName="password" placeholder="Enter password..">
        <br/>
        <label class="my-font-title">Repeat password</label>
        <br/>
        <input type="password"  formControlName="confirmPassword" placeholder="Enter password..">
        <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)">
            <div *ngIf="f.repeatpass.errors.required">
              Lozinka je obavezna.
              <p> Lozinke se moraju poklapati </p>
            </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch" class="my-font-title">
            <p> Lozinke se moraju poklapati </p>
          </div>
        </div>
        <br/>

        <label class="my-font-title">Name</label>
        <br/>
        <input type="text" formControlName="Name" placeholder="Enter name..">
        <br/>

        <label class="my-font-title">Last name</label>
        <br/>
        <input type="text" formControlName="Lastname" placeholder="Enter last name..">
        <br/>
      
        <label class="my-font-title">Address</label>
        <br/>
        <input type="text" formControlName="Address" placeholder="Enter address..">
        <br/>

        <label  class="my-font-title">Birthday</label>
        <br/>
          <input type="date" formControlName="Birthday">
        <br/>
        <br/>

        <label class="my-font-title">Type of user</label>
        <select id="type" formControlName="UserType">
          <option value="Regular">Regular</option>
          <option value="Pensioner">Pensioner</option>
          <option value="Student">Student</option>
        </select>

        <input type="submit" value="Submit">

</div>
</form>