<div>
  <p class="my-register-font">
      Register
  </p>
</div>
  
  <div id="register-id">
        <label  class="my-font-title">Email</label>
        <br/>
        <input type="email" name="email">
        <br/>
    
        <label class="my-font-title">Password</label>
        <br/>
        <input type="password"  name="lastname">
        <input type="password"  name="lastname">
        <br/>

        <label class="my-font-title">Name</label>
        <br/>
        <input type="text" id="lname" name="lastname" placeholder="Enter name..">
        <br/>

        <label class="my-font-title">Last name</label>
        <br/>
        <input type="text" id="lname" name="lastname" placeholder="Enter last name..">
        <br/>
      
        <label class="my-font-title">Last name</label>
        <br/>
        <input type="text" id="lname" name="lastname" placeholder="Enter address..">
        <br/>

        <label  class="my-font-title">Birthday</label>
        <br/>
          <input type="date" name="bday">
        <br/>
        <br/>

        <label class="my-font-title">Type of user</label>
        <select id="type" name="type">
          <option value="Regular">Regular</option>
          <option value="Pensioner">Pensioner</option>
          <option value="Student">Student</option>
        </select>

        <input type="submit" value="Submit">

</div>