<br/>
<br/>
<div>
  <p class="my-register-font">
    Search for ticket
  </p>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="my-font-title">Enter ticket id</p>
<form [formGroup]="ticketsCheckForm">
<div class="container">

  <input type="text" placeholder="Search..." formControlName="ticket_id" (keyup.enter)="onSubmit()">
  <div class="search"></div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div *ngIf="serverSuccessMessage[0] == 'This ticket is valid.\n'">
    <p class="my-valid-font"> {{serverSuccessMessage}} </p> 
  </div>
  <div *ngIf="serverSuccessMessage[0] != 'This ticket is valid.\n'">
    <p class="my-invalid-font"> {{serverSuccessMessage}} </p> 
  </div>
</div>
</form>