.map {
    width: 50%;
    height: 88.5%;
    position: fixed;
    top: 9%;
    right: 1%;
  }

  .link-a
  {
    position: fixed;
    font-size: 20px;
    text-decoration: underline;
    font-style: oblique;
    color: #2764c6
  }

  .link-a :hover
  {
    cursor: pointer;
    color: #6093e4
  }

  .timetable 
  {
    top: 92%;
  }

  .pricelist 
  {
    top: 86%;
  }

  .my-route-font{
    font-style: oblique;
    font-size: 25px;
    color:#9966ff;
    font-weight: 700;
  }

#buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: #6093e4;
  margin-right: 5px;
  margin-top: 5px;
  width: 45px;
  line-height: 35px;
}


#buttons li a {
  text-decoration: none;
  color: #FFFFFF;
  display: block;
}

#buttons li a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #9966ff;
  cursor: pointer;
}

.routes-div
{
  width: 48%; 
  overflow-y:auto; 
  height: 400px;
}