<div class="my-route-font">
    <div>
        <p>All Routs</p>
    </div>

    <div class="link-a pricelist">
        <a routerLink="/pricelist">View Pricelist</a>
    </div>
    <div class="link-a timetable">
        <a routerLink="/timetable">View Timetable</a>
    </div>

    <div  class="map">
        <app-map [route] = "sRoute"></app-map>
    </div>
</div>

<div id="buttons" class="routes-div">
    <ul>
        <li *ngFor="let route of routes" (click)="selectedRoute(route)">
            <a class="button-linija tooltip grad ablin1" [style.background-color]="route===isSelected ? '#9966ff' : ''"  title="{{route.RouteType}}">{{route.RouteNumber}}</a>
        </li>
    </ul>
</div>